@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Darker Grotesque", sans-serif;
}

.button-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.41)),
    linear-gradient(99.17deg, #204ce8 6.86%, #984db3 106.87%);
}
.hero-text {
  background: linear-gradient(99.17deg, #204ce8 6.86%, #984db3 106.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.carousel-bg {
  background: linear-gradient(
    100.39deg,
    rgba(5, 3, 12, 0.92) 19.92%,
    #344067 62.77%,
    #592781 127.97%,
    #321638 148.44%
  );
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(99.17deg, #16308b 6.86%, #984db3 106.87%);
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #708790;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  
  background: #708790;
}
