@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Darker Grotesque", sans-serif;
}

.button-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.41)),
    linear-gradient(99.17deg, #204ce8 6.86%, #984db3 106.87%);
}
