@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Darker Grotesque", sans-serif;
  background-color: #1e1e1e;
}

.button-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.41)),
    linear-gradient(99.17deg, #204ce8 6.86%, #984db3 106.87%);
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.hero-text {
  background: linear-gradient(99.17deg, #204ce8 6.86%, #984db3 106.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(99.17deg, #16308b 6.86%, #984db3 106.87%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #708790;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #708790;
}
.svg-wrapper {
  transform: translateY(-50%);
}

.svg-wrapper svg {
  position: absolute;
  top: 48%;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 6px;
  stroke: #1b2c68;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 6px;
  }
  100% {
    stroke-dasharray: 960;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.radial-bg {
  box-shadow: 0px 0.299882px 0.299882px rgba(51, 51, 51, 0.25);
  background: linear-gradient(
    91.6deg,
    #35529d 1.36%,
    #72c2d3 28.48%,
    #e7a1e0 98.99%
  );
  opacity: 0.6;
  filter: blur(212.104px);
  position: absolute;
  /* transform: matrix(-0.31, -0.95, -0.95, 0.31, 0, 0); */
  border-radius: 29.9882px;
}
.radial-bg-2 {
  box-shadow: 0px 0.299882px 0.299882px rgba(51, 51, 51, 0.25);
  background: linear-gradient(
    91.6deg,
    #35529d 1.36%,
    #72c2d3 28.48%,
    #e7a1e0 98.99%
  );
  opacity: 0.2;
  filter: blur(212.104px);
  position: absolute;
  /* transform: matrix(-0.31, -0.95, -0.95, 0.31, 0, 0); */
  border-radius: 29.9882px;
}

.card-bg {
  background: #201f1f;
  box-shadow: 0px 0.299882px 0.299882px rgba(51, 51, 51, 0.25);
  background: linear-gradient(
    91.6deg,
    #35529d 1.36%,
    #72c2d3 28.48%,
    #e7a1e0 98.99%
  );
  /* filter: blur(2.104px); */
}

.svg-wrapper:hover .shape {
  -webkit-animation: 1s draw linear forwards;
  animation: 1s draw linear forwards;
}

.gradient-border {
  --borderWidth: 2px;
  background: #fff;
  border-radius: var(--borderWidth);
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
